<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

     <section class="tile">
    <h2 class="tile__title">Discover holiday activity ideas</h2>
  <!-- Masonry -->

      <nav id="masonry" class="tile__masonry masonry"></nav>
      <script type="tetxt/template" id="template">
        <div id="container" class="masonry__container container">

          <div class="container__item">
            <a href="#">
              <i>
                <img src=<%- img %> alt="api_query_pic/>
              </i>
            </a>
            <p class="container__text">Picture`s author:&nbsp<%- author %></p>
          </div>
        </div>
      </script>

  <!-- Masonry over -->
  <!-- API QUERY -->
    <div class="tile__input input">
      <h2 class="input__title">Discover holiday activity ideas</h2>
      <p class="input__question">Hi! What are your holiday interests?</p>
       <!-- <form class="foof" action="#" method="post"> -->
        <input class="input__form" type="text" placeholder="Enter your interests" name="holiday-question">
        <button class="input__btn">Serch partners</button>
       <!-- </form> -->
    </div>
  <!-- API QUERY over -->
   </section>

<script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>
