
.jcarousel {
    position: relative;
    overflow: hidden;
    width: 300px;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}

.container {
    position: relative;
}

.jcarousel-prev {
    position: absolute;
    left:10px;
    top:50%;
}

.jcarousel-next {
    position: absolute;
    left:260px;
    top:50%;
}

.jcarousel-pagination {
  outline: 1px solid red;
  width: 300px;
  /* display: flex;
  justify-content: center; */
  position:absolut;
  bottom: 20px;
  left: 20px;
}

 .jcarousel-pagination li {
  display: inline-block;
  /* width: 20px;
  height: 20px; */
  background-color:#eee;

}

.jcarousel-pagination a {
  display: inline-block;
  /* width: 20px;
  height: 20px; */
  padding: 10px;
  background-color:#e5e5e5;
  margin-right: 10px;
}

/* .jcarousel-pagination a:focus {
  background-color: yellow;
} */







